.background {
  background: var(--Gray);
  padding: 0.5rem 2rem 0rem 2rem;
}

.container {
  border-radius: 5px;
  background-color: white;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container button {
  margin-left: 1rem;
}

.original {
    color: var(--Very_Dark_Violet);
}

.short {
    color: var(--Cyan);
}
