.background {
  background: linear-gradient(white 50%, var(--Gray) 50%);
}

.inputContainer {
  padding: 2rem;
  background-image: url(./bg-shorten-desktop.svg);
  background-color: var(--Dark_Violet);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  margin: 0 2rem;
}

.inputContainer div {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 70%;
}

.inputContainer div span {
  color: var(--Red);
  font-size: small;
  position: absolute;
  top: 2.5rem;
}

.input_ok {
  width: 100%;
  padding: 0.45rem;
  border-radius: 5px;
  border: none;
}

.input_error {
  width: 100%;
  padding: 0.45rem;
  border-radius: 5px;
  border: 2px solid var(--Red);
  outline: none;
}

.input_error::placeholder {
  color: var(--Red);
}

@media only screen and (max-width: 700px) {
  .inputContainer {
    flex-direction: column;
    padding: 2rem 1rem;
    background-size: cover;
    background-position: right;
  }

  .inputContainer div {
    width: 100%;
    margin-bottom: 2rem;
  }

  .inputContainer div span {
    top: 2.6rem;
  }
}
