.heroContainer {
  padding: 2rem;
  width: 100 vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.heroContainer div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heroContainer div img {
  align-self: flex-end;
  width: 40vw;
}

.heroContainer div h2 {
 font-size: xxx-large;
 font-weight: 700;
 color: var( --Very_Dark_Violet);
}

.heroContainer div p {
color: var(--Grayish_Violet);
margin-bottom: 1rem;
}

@media only screen and (max-width: 700px) {
.heroContainer {
  flex-direction:column-reverse;
  justify-content: center;
  align-items: center;
}

.heroContainer div {
  align-items: center;
}

.heroContainer div img {
 width: 100%;
}

.heroContainer div h2 {
text-align: center;
}

.heroContainer div p {
  text-align: center;
}

}