.heroContainer {
  padding: 2rem;
  width: 100 vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.heroContainer div {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heroContainer div img {
  align-self: flex-end;
  width: 40vw;
}

.heroContainer div h2 {
 font-size: xxx-large;
 font-weight: 700;
 color: var( --Very_Dark_Violet);
}

.heroContainer div p {
color: var(--Grayish_Violet);
}