@import url(../../Styles/style.css);

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 0 2rem;
}

header nav div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50vw;
}

header nav div h1 {
font-weight: 700;
font-size: x-large;
color: var(--Very_Dark_Violet);
}

header nav div:last-child {
    justify-content: end;
}

header nav div a:first-child {
    margin-left: 0rem;
}

header nav div a {
    margin-left: 2rem;
    text-decoration: none;
    color: var(--Grayish_Violet);
    font-weight: 700;
}

header nav div button {
    margin-left: 2rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-weight: 700;
}

header nav div button:first-child {
    color: var(--Grayish_Violet);
}

header nav div button:last-child {
    background-color: var(--Cyan);
    padding: 0.5rem;
    width: 7rem;
    border-radius: 10px;
    color: white;
}