header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
}

header nav div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

header nav h1 {
font-weight: 700;
font-size: xx-large;
color: var(--Very_Dark_Violet);
margin-right: 1rem;
}

header nav div:last-child {
    justify-content: end;
}

header nav div a:first-child {
    margin-left: 0rem;
}

header nav div a {
    margin-left: 2rem;
    text-decoration: none;
    color: var(--Grayish_Violet);
    font-weight: 700;
}

header nav div button {
    margin-left: 2rem;
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-weight: 700;
}

header nav div button:first-child {
    color: var(--Grayish_Violet);
}

@media only screen and (max-width: 700px) {
header nav {
flex-direction: column;
}

header nav div {
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header nav div a, header nav div button, header nav h1  {
    margin: 0;
}

header nav div {
    display: none;
}
}